
.movistar-blue-button
    margin: 10px 0
    +movistar-gradient()
    text-decoration: none
    color: #FFF
    &:hover
        color: #FFF
        
.cards
    margin: 15px 0
.movistar-card
    border: 1px #CCC solid
    border-radius: 8px
    position: relative
    .title
        border-top-left-radius: 8px
        border-top-right-radius: 8px
        color: #095b81
        padding: 5px 15px
        background-color: #f6f6f6
        h4
            margin: 0
    .body
        padding: 10px
        .multimedia
            img
    .info
        margin: 10px 0    
    .links
        font-size: 14px
        line-height: 2
        ul
            margin: 0
            padding: 0
            li
                list-style: none
                border-bottom: 1px #CCC dashed
    .footer-links
        margin: 15px 0
        .header
            font-size: 12px
            font-weight: 900
            color: #666
        ul
            li.pull-right
                a
                    font-weight: 900        
                    color: #666